.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; /* This ensures the content is centered vertically on the page */
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 1rem;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}


.connect {
  margin-bottom: 2rem;
}

.links {
  gap: 1rem;
  display: flex;
  justify-content: center;
}

.link {
  font-size: 3rem;
  color: black;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.text {
  width: 80%;
  margin: auto;
  max-width: 400px;
}

.text h2 {
  font-size: 2rem;
}