.main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 90vh;  This ensures the content is centered vertically on the page */
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 1rem;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.links {
  gap: 1rem;
  display: flex;
  justify-content: center;
}

.link {
  font-size: 3rem;
  color: black;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.text {
  width: 100%;
  margin: auto;
  max-width: 500px;
}

.text h2 {
  font-size: 2rem;
}

.polyscan {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
}

.button {
  background-color: black;
  color: white;
  font-size: 1rem;
  border: none;
  padding: 1rem 1rem;
  border-radius: .5rem;
  margin: auto;
}

.goose {
  margin: 2rem auto 0 auto;
}

.hold {
  text-align: left;
}

.hold li {
  margin-bottom: 1.5rem;
}

.bold {
  font-weight: bold;
}