.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    margin: auto;
    width: 100%;
    max-width: 800px;
    margin-bottom: 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}